/CL.read.1.tlog
/CL.write.1.tlog
/SelectableGroup.obj
/Text.obj
/TextBox.obj
/TextBoxMultiLine.obj
/TextField.obj
/ToolsUi.obj
/Upgradable.obj
/UpgradableData.obj
/User.obj
/View.obj
/Weapon.obj
/WeaponModel.obj
/cl.command.1.tlog
/space_2.lastbuildstate
/space_2.log
/space_2.unsuccessfulbuild
/space_2.vcxprojResolveAssemblyReference.cache
/space_2.write.1.tlog
/vc100.idb
/vc100.pdb
/*.obj
/*.log
/*.tlog
/*.manifest
/*.rc
/*.res